h2,
p,
ul {
  padding: 10px 0 !important;
}

ol,
ul {
  text-align: left;
}

.reveal section .imageWithLink {
  padding-left: 1em;
}

.reveal section .imageWithLink img {
  padding: 0 !important;
}

h6 {
  font-size: medium;
}

.centrado {
  text-align: center;
}

.separacion {
  margin-top: 22px;
}

iframe {
  border: none;
}